#toptitle {
	text-align: center;
	text-indent: 3px;
	padding: 10px;
}
.maintitle {
	text-align: center;
}
.containers {
	text-align: center;
	padding-bottom: -15px;

}
p {
	margin-top: 0px;
	margin-bottom: 1rem;
	margin-left: 2rem;
	margin-right: 2rem;
}
.afferent {
	text-align:center;
	padding-bottom: 25px;
}
.btn .btn-primary {
	padding: 1rem 2rem;

}

}
.paragraph {
	margin-top: 2rem;
}
.pictograph {
padding-top: 15px;
text-align: center;

}
.jumbotron {
	box-sizing: 400px;
	padding-top: 20px;
}
h2 {
	text-indent:25px;
}
h5 {
	text-align: center;
}

@media screen {

}
@media screen and (max-width: 200px) {
  div.w3-bar-item {
    display: none;
}
}
@media screen and (max-width: 200px) {
	div.w3-top {
		display: none;
	}
}
@media screen and (max-width: 738px) {
	div.w3-button {
		display: none;
	}
}
.w3-container {

    max-width: 1080px;

}
.container {
	padding: 1rem;
}
.container-1 {
max-width: 1540px;

margin-top: 15px;

margin-left: 30px;

margin-right: 30px;
}

.container-2 {
max-width: 1540px;

margin-top: 15px;

margin-left: 30px;

margin-right: 30px;
}
.container5 {
 max-width: 1500px;
}
